<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title></title>
</head>
<body>
    <nav>
        <a href="/users" <%- title === 'Take me to the Users' ? 'class="active"' : '' %>>Users</a>
    </nav>
    
</body>
</html>