<%- include('../partials/header') %>

<body>
    <h2>Add a Song!</h2>
    <form action="/songs" method="POST">
		
		<label>Song Name:
			<input type="text" name="songName">
        </label><br>
        <label>Artist Name:
			<input type="text" name="artistName">
		</label><br>
		<label>Mood/Genre:
			<select name="mood">
				<option value="Peaceful">Peaceful</option>
				<option value="Hype">Hype</option>
				<option value="Transcendental">Transcendental</option>
				<option value="Relaxed">Relaxed</option>
                <option value="Happy">Happy</option>
			</select>
		</label><br>
        <label> Release Year:
            <input type="text" name="year">
        </label></br>
        <button type="submit">Add a Song</button>
        
		
	</form>
</body>
</html>