<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Show</title>
</head>
<body>
    <table>
        <tr>
            <td>Song:</td>
            <td><%= song.songName %></td>
        
            <td>Artist: </td>
            <td><%= song.artistName %></td>
        
            <td>Mood:</td>
            <td><%= song.mood %></td>

            <td>Year:</td>
            <td><%= song.year %></td>
        </tr>
        </table>
    
</body>
</html>